/* General  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eefaeb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-y: auto;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #5ca0fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 50px;
}

/* titulo */
.title {
    text-align: center;
    margin-bottom: 20px;
    color: #041f3a;
}

/* Parte de las tablas */
.card {
    background-color: #84f7a1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 15px;
    color: #2980b9;
}

/* Input fields */
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b5d3eb;
    border-radius: 5px;
    font-size: 16px;
}

/* Botones */
.button {
    width: 100%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2ecc50;
}

.button-edit {
    background-color: #f39c12;
}

.button-edit:hover {
    background-color: #e67e22;
}

.button-danger {
    background-color: #e74c3c;
}

.button-danger:hover {
    background-color: #c0392b;
}

/* Boton de exportar PDF */
.buttons {
    display: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pdfExport, #excelExport {
    width: 48%;
    padding: 10px;
    background-color: #219752;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pdfExport:hover {
    background-color: #29b941;
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #bdc3c7;
    text-align: center;
}

th {
    background-color: #34495e;
    color: white;
}

/* Chart container */
.chart-container {
    width: 100%;
    margin-top: 30px;
    max-height: 400px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .container {
        padding: 40px;
    }
}
